# Environment variables
.env
.env.local
.env.*.local



# Dependencies
node_modules/

# Logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory used by tools like istanbul
coverage/

# Distribution / build folder
dist/
build/

# Temporary folders
tmp/
temp/

# IDE and editor files
.vscode/
.idea/
*.swp
*.swo